/**
 * 05. Widget
 */
.control-section{

  .chippymtc-field{
    padding: 0;

    .chippymtc-title{
      float: none;
      width: 100%;
      margin-bottom: 6px;

      h4{
        display: block;
        font-size: 13px;
        line-height: 1;
        font-weight: 600;
        color: inherit;
      }
    }

    .chippymtc-fieldset{
      float: none;
      width: 100%;
    }
  }

  .chippymtc-help{
    top: -5px;
    right: -5px;
  }

  .chippymtc-field-select select{
    width: 100%;
  }

  .chippymtc-field-heading{
    color: inherit;
    font-size: 14px;
    line-height: 1em;
    margin-right: -15px;
    margin-left: -15px;
    padding: 15px;
  }

  .chippymtc-field-subheading{
    color: inherit;
    font-size: 11px;
    margin-right: -15px;
    margin-left: -15px;
    padding: 10px 15px;
  }

  .chippymtc-subtitle-text{
    margin-top: 4px;
    font-size: 12px;
  }

  .chippymtc-field-submessage .chippymtc-submessage{
    margin-right: -15px;
    margin-left: -15px;
    padding: 15px;
  }

  .chippymtc-fieldset{

    .chippymtc-field-submessage .chippymtc-submessage,
    .chippymtc-field-heading,
    .chippymtc-field-subheading{
      margin-left: 0;
      margin-right: 0;
    }
  }

  .chippymtc-field-date,
  .chippymtc-field-datetime{

    label{
      display: block;
    }

    .chippymtc--to{
      margin-top: 4px;
      margin-left: 0;
    }
  }

  .chippymtc-field-sorter{

    ul li{
      padding: 5px;
    }

    .chippymtc-modules{
      float: none;
      width: 100%;
    }

    .chippymtc-modules:first-child{
      padding-right: 0;
      padding-bottom: 15px;
    }
  }

  .chippymtc-field-background{

    .chippymtc--background-attributes{
      flex-direction: column;
    }
  }

  .chippymtc-field-spacing{
    input{
      width: 90px;
    }
  }

  .chippymtc-field-border{

    .chippymtc--input{
      flex: 1 50%;
    }

    input,
    select{
      width: 100%;
    }
  }

  .chippymtc-field-spinner{
    input{
      width: 50px;
    }
  }

  .chippymtc-field-number{

    .chippymtc--wrap{
      width: 100%;
    }
  }

  .chippymtc-field-backup{

    .chippymtc-export-data{
      display: none;
    }
  }

  .chippymtc-field-fieldset{

    .chippymtc-fieldset-content{
      border-color: #e5e5e5;
    }
  }

  .chippymtc-tabbed-content,
  .chippymtc-sortable-content,
  .chippymtc-repeater-content,
  .chippymtc-fieldset-content,
  .chippymtc-cloneable-content,
  .chippymtc-accordion-content{

    > .chippymtc-field{
      padding: 10px;

      .chippymtc-title{
        margin-bottom: 5px;
      }

      h4{
        font-size: 12px;
      }
    }
  }

  .chippymtc-depend-hidden.chippymtc-depend-on{
    display: none !important;
  }

  .chippymtc-depend-visible.chippymtc-depend-on{
    border-top: 0 !important;
  }
}
